// Import global rules
@use "./sass/layout/global-rules";

// Import Pages
@use "./sass/pages/contact";

// Import Pages
@use "./sass/variables/colors" as *;

// global variable
$alt_color: green;

.header {
    color: $alt_color;
}

.footer {
    // local variable
    $alt_color: black !global;
    background-color: $alt_color;
}

.copyright {
    background-color: $alt_color;
}

.sidebar {
    background-color: $main;
    color: $alt;
}

$max_mobile: "max-width: 575px";

@media ($max_mobile){
    .sidebar {
        padding: 20px;
    }
}

.parent {
    font-weight: bold;
    .child{
        font-size: 20px;
        .grand-child{
            font-size: 15px;
        }
    }
}

.parent-one, 
.parent-two {
    padding: 20px;
    .child {
        padding: 10px;
    }
}

.parent > {
    .child {
      font-size: 20px;
    }
    .test {
      font-weight: bold;
    }
  }
  
.parent {
    > .child {
        font-size: 20px;
    }
    .test {
        font-weight: bold;
    }
    + p {
        font-size: 15px;
    }
}
  
.parent {
    > {
        .element-one {
        font-size: 10px;
        }
        .element-two {
        font-size: 10px;
        }
    }
    .not-direct-child {
        font-weight: bold;
    }
}
  
.box {
    .title {
        font-size: 10px;
    }
    .description {
        font-size: 8px;
    }
    &.red {
        color: red;
    }
    &.green {
        color: green;
    }
    &:hover {
        background-color: #eee;
    }
    &:hover .title {
        font-weight: bold;
    }
    :not(&) {
        font-weight: normal;
    }
    [dir="rtl"] & {
        direction: rtl;
    }
}

.box {
    font-size: 20px;
    font: {
        size: 15px;
        weight: bold;
    }
    padding: 10px;
    margin: auto {
        top: 10px;
        bottom: 15px;
        left: 9px;
    }
}

// placeholder
%main-box {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}

.ads {
    @extend %main-box;
    font-size: 20px;
    color: red;
}

.article {
    @extend %main-box;
    font-size: 22px;
    color: green;
}

// Control flow => if and Else

$theme: "dark";

.page {
    @if $theme == "light" {
        background-color: white;
        color: #444;
    } @else {
        background-color: #444;
        color: white
    }
}

$rounded: true;

.box{
    @extend %main-box;
    border-radius: if($rounded, 6px, null);
}

// practice

$direction: 'left';

.arrow-div{
    @extend %main-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: relative;
    margin: 50px auto;
    &::before {
        content: "";
        position: absolute;
        border: 20px solid transparent;
        @if $direction == "top" {
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom-color: red;
        } @else if $direction == "right" {
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            border-left-color: red;
        }@else if $direction == "bottom" {
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            border-top-color: red;
        }@else if $direction == "left" {
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            border-right-color: red;
        } @else {
            @error "this direction #{$direction} is not valid" ;
        }
    }
}

// interpolation

$company: "flacon";
$position: "right";

.ad-#{$company}-#{unique-id()} {
    font-size: 20px;
    background-color: url("images/#{$company}.png");
    #{$position}: 0;
}

.ad-#{unique-id()} {
    font-weight: bold;
}

// 


