* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: red;
}

.contact {
  padding: 20px;
  background-color: var(--main-color);
}

.header {
  color: green;
}

.footer {
  background-color: black;
}

.copyright {
  background-color: black;
}

.sidebar {
  background-color: orange;
  color: violet;
}

@media (max-width: 575px) {
  .sidebar {
    padding: 20px;
  }
}
.parent {
  font-weight: bold;
}
.parent .child {
  font-size: 20px;
}
.parent .child .grand-child {
  font-size: 15px;
}

.parent-one,
.parent-two {
  padding: 20px;
}
.parent-one .child,
.parent-two .child {
  padding: 10px;
}

.parent > .child {
  font-size: 20px;
}
.parent > .test {
  font-weight: bold;
}

.parent > .child {
  font-size: 20px;
}
.parent .test {
  font-weight: bold;
}
.parent + p {
  font-size: 15px;
}

.parent > .element-one {
  font-size: 10px;
}
.parent > .element-two {
  font-size: 10px;
}
.parent .not-direct-child {
  font-weight: bold;
}

.box .title {
  font-size: 10px;
}
.box .description {
  font-size: 8px;
}
.box.red {
  color: red;
}
.box.green {
  color: green;
}
.box:hover {
  background-color: #eee;
}
.box:hover .title {
  font-weight: bold;
}
:not(.box) {
  font-weight: normal;
}
[dir=rtl] .box {
  direction: rtl;
}

.box {
  font-size: 20px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 9px;
}

.arrow-div, .box, .article, .ads {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

.ads {
  font-size: 20px;
  color: red;
}

.article {
  font-size: 22px;
  color: green;
}

.page {
  background-color: #444;
  color: white;
}

.box {
  border-radius: 6px;
}

.arrow-div {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 50px auto;
}
.arrow-div::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-right-color: red;
}

.ad-flacon-ufr55of {
  font-size: 20px;
  background-color: url("images/flacon.png");
  right: 0;
}

.ad-ufr55on {
  font-weight: bold;
}

/* In css file */
/*! In css file and compressed file */
/* Style for flacon*/
ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.circle-100 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
}

.center-circle {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class-1 {
  font-size: 11px;
}

.class-2 {
  font-size: 12px;
}

.class-3 {
  font-size: 13px;
}

.class-4 {
  font-size: 14px;
}

.class-5 {
  font-size: 15px;
}

.class-6 {
  font-size: 16px;
}

.class-7 {
  font-size: 17px;
}

.class-8 {
  font-size: 18px;
}

.class-9 {
  font-size: 19px;
}

.class-10 {
  font-size: 20px;
}

.circle-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-200 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-300 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-400 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-500 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-600 {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-700 {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-800 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-900 {
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: burlywood;
}

.circle-1000 {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: burlywood;
}

.red-theme .product {
  background-color: white;
  border-bottom: 2px solid red;
}
.red-theme .product .title {
  color: red;
  font-weight: bold;
}

.green-theme .product {
  background-color: white;
  border-bottom: 2px solid green;
}
.green-theme .product .title {
  color: green;
  font-weight: bold;
}

.blue-theme .product {
  background-color: white;
  border-bottom: 2px solid blue;
}
.blue-theme .product .title {
  color: blue;
  font-weight: bold;
}

.orange-theme .product {
  background-color: white;
  border-bottom: 2px solid orange;
}
.orange-theme .product .title {
  color: orange;
  font-weight: bold;
}

.facebook {
  background-color: blue;
  color: white;
}
.facebook::before {
  content: "facebook";
}

.youtube {
  background-color: red;
  color: white;
}
.youtube::before {
  content: "youtube";
}

.github {
  background-color: black;
  color: white;
}
.github::before {
  content: "github";
}

.twitter {
  background-color: indianred;
  color: white;
}
.twitter::before {
  content: "twitter";
}

.one {
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 10px;
}

.two {
  font-size: 15px;
  background-color: green;
  color: white;
  padding: 7.5px;
}

.three {
  font-size: 22px;
  background-color: blue;
  color: white;
  padding: 11px;
}

.width-100 {
  width: 100px;
  height: 50px;
}

.width-200 {
  width: 200px;
  height: 100px;
}

.width-300 {
  width: 300px;
  height: 150px;
}

.width-400 {
  width: 400px;
  height: 200px;
}

.width-500 {
  width: 500px;
  height: 250px;
}

.width-600 {
  width: 600px;
  height: 300px;
}

.width-700 {
  width: 700px;
  height: 350px;
}

.width-800 {
  width: 800px;
  height: 400px;
}

.width-900 {
  width: 900px;
  height: 450px;
}

.width-1000 {
  width: 1000px;
  height: 500px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.element {
  width: 200px;
  height: 100px;
  top: 350px;
}

.black-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes go-up {
  from {
    bottom: o;
  }
  to {
    bottom: 100px;
  }
}
@keyframes go-up {
  from {
    bottom: o;
  }
  to {
    bottom: 100px;
  }
}
/*# sourceMappingURL=main.css.map */