@mixin list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin circle($dimensions) {
    border-radius: 50%;
    width: $dimensions;
    height: $dimensions;
}

@mixin centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin overlay($color, $opacity){
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $opacity);
}

@mixin keyF($anim-name) {
    @-webkit-keyframes #{$anim-name} {
        @content;
    }

    @keyframes #{$anim-name} {
        @content;
    }
}

@mixin breakpoints($point) {
    @if $point == mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == small {
        @media (max-width: 768px) and (max-width: 991px) {
            @content;
        }
    } @else if $point == medium {
        @media (max-width: 992px) and (max-width: 1199px) {
            @content;
        }
    } @else if $point == large {
        @media (max-width: 1200px) {
            @content;
        }
    }
}